---
---

@import "{{ site.theme }}";

/*
Navbar style sourced from:
https://www.codemahal.com/video/creating-a-navbar-with-html-and-css/
*/

body{
    margin: 0;
}
nav{
    width: 100%;
    float: left;
}
.menu{
    margin: 0;
    padding: 1rem;
    height: 1rem;
    background-color: #7a7a7a;
}
.menu li{
    display: inline;
    /* padding-right: 1rem; */
}
.button{
    font-family: Arial;
    font-size: 1rem;
    font-style: none;
    color: #ffffff;
    padding: 0.8rem;
    text-decoration: none;
}
.button:link{
    background-color: #7a7a7a;
    color: #ffffff;
}
